

body {

    background-color:rgb(255, 255, 255) 255);
}

p {
    
    font-size: 13px;
}

div {

text-align: center ;
border-radius: 10px;

}

footer {
    bottom: 0;
    left: 0; 
    text-align:end;
    text-align:center;
    
}

h4 {
    text-align: center;
}